// styles.scss
$primary-color: #007bff;
body{
    background-color: rgb(0, 0, 0);
}
.container {
  background-color: #001433;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    margin-top: 0;
  }

  form {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 5px;
      border: none;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    button[type="submit"] {
      margin-top: 10px;
      background-color: $primary-color;
      color: #ffffff;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  p {
    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}