

.product-card {
width: 80%;
height: 90%;
margin: auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 10px;

.row {
    margin-bottom: 15px;

    img {
    width: 100%;
    height: auto;
    }

    h3 {
    margin-top: 0;
    }
}
}
