<div class="container">
  <div class="row"> 
    <h1 class="col-md-3 mt-2 pt-3 w-25">Catalog/{{catagory}}</h1>
    <div class="col-md-6 d-flex">
       <ul class="nav col-12 col-lg-auto me-lg-auto mt-4 justify-content-center mb-md-0  d-none d-lg-flex">
        <li>
          <p class="nav-link  text-dark">Sort by:</p> 
        </li>
        <li>
          <button class="btn" (click)="sort_az()">A-Z</button>
        </li>
        <li>
          <button class="btn" (click)="sort_za()">Z-A</button>
        </li>
        <li>
          <button class="btn" (click)="sort_hi()">Highest</button>
        </li>
        <li>
          <button class="btn" (click)="sort_lo()">Lowest</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-3 ">
    <div class="col-md-3 mt-4 d-none d-lg-block">
      <ul class="nav me-lg-auto mb-2 d-none d-lg-block">
        <li>
          <a [routerLink]="['/catalog']" class="dropdown-item nav-link px-2 text-dark">All</a>
        </li>
        <li *ngFor="let item of topbar">
          <a [routerLink]="['/catalog',item]" class="dropdown-item nav-link px-2 text-dark">{{item}}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 mb-4 ">
      <div class="row">
        <div type="button" class="col-sm-3 d-flex justify-content-center  d-sm-col-6" *ngFor="let item of products">
          <app-product-card [product]="item" class=""></app-product-card>
      </div>
      </div>
    </div>