<div *ngIf="form" class="container shadow rounded-1">
  <h1>Register</h1>
  <form [formGroup]="form">
    <div class="row d-flex">
      <div class="col-sm-6">
        <label for="username" class="d-flex">Username</label>
        <input [ngClass]="{'red': form.controls['user'].errors}" type="text" type="text" id="username" formControlName="user" required>
      </div>
      <div class="col-sm-6 "> 
        <label for="password" class="d-flex">Password</label>
        <input [ngClass]="{'red': form.controls['pass'].errors}" type="text" type="password" id="password" formControlName="pass" required>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-sm-6">
        <label for="fname" class="d-flex">Name</label>
        <input [ngClass]="{'red': form.controls['fname'].errors}" type="text" id="fname" formControlName="fname" required>
      </div>
      <div class="col-sm-6 "> 
        <label for="lname" class="d-flex">Last Name</label>
        <input [ngClass]="{'red': form.controls['lname'].errors}" type="text" type="text" id="lname" formControlName="lname" required>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-sm-12">
        <label for="tel" class="d-flex">Phone Number</label>
        <input [ngClass]="{'red': form.controls['tel'].errors}" type="text" type="text" id="tel" formControlName="tel" required>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-sm-9">
        <label for="address" class="d-flex">Address</label>
        <input [ngClass]="{'red': form.controls['add'].errors}" type="text" type="text" id="address" formControlName="add" required>
      </div>
      <div class="col-sm-3">
        <label for="post" class="d-flex">Postal Code</label>
        <input [ngClass]="{'red': form.controls['post'].errors}" type="text" type="text" id="post" formControlName="post" required>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-sm-12">
        <label for="mail" class="d-flex">E-Mail</label>
        <input [ngClass]="{'red': form.controls['email'].errors}" type="text" type="text" id="mail" formControlName="email" required>
      </div>
    </div>
    <button type="submit" (click)="register()" class="btn btn-warning mt-4 text-dark">Register</button>
  </form>
</div>
