
<div class="container-fluid bg-ligth">
  <app-header ></app-header>
  <div class="banner  d-none d-lg-flex justify-content-center">
    <app-banner [images]="images"></app-banner>
  </div>
  <div class="container d-flex justify-content-center d-none d-lg-flex text-center"> 
    <div class="row ">
      <div class="col-sm-2 text-center" *ngFor="let item of catagory ">
        <app-catagory [key]="item" ></app-catagory>
    </div>
    </div>
  </div>
  <div class=" container d-flex justify-content-center">
    <div>
      <div class="body-area text-dark d-none d-lg-block">
        <h3 class="mt-3">Best Seller</h3>
        <div class="row">
          <div type="button" class="col-sm-3 d-flex justify-content-center  d-sm-col-6 "  *ngFor="let item of products?.slice(0,4)">
              <app-product-card [product]="item"></app-product-card>
          </div>
      </div>
    </div>
  </div>
</div>
<div class=" container d-flex justify-content-center">
  <div>
    <div class="body-area text-dark d-sm-flex d-lg-none">
      <h3 class="mt-3">Best Seller</h3>
      <div class="row">
        <div type="button" class="col-6 d-block justify-content-center "  *ngFor="let item of products?.slice(0,4)">
            <app-product-card [product]="item"></app-product-card>
        </div>
    </div>
  </div>
</div>
</div>

<footer class="footer mt-4">
  <div class="container">
    <span class="text-muted">© 2024 Company Name. All rights reserved.</span>
  </div>
</footer>

