/* register.component.scss */

.introduction {
    background-color: #222831;
    color: #EEEEEE;
    padding: 50px;
    height: 100%;
    text-align: center;
  }
  
  
    
.container-fluid{
    background-color: #222831;

}