/* register.component.scss */

.introduction {
    // background-color: #222831;
    color: #EEEEEE;
    padding: 100px;
    height: 100%;
    text-align: center;
  }
  footer{
    background-color: black;
  }
  
    
// .container-fluid{
//     background-color: #222831;

// }
.row{
  height: 600px;
}