<!--<div>
  <H1>Profile</H1>
</div>
<div>
 <div *ngIf ="form">
  <form [formGroup]="form">
    
    <div>Firstname:{{form.controls['firstname'].value}}</div>
    <input [ngClass]="{'red':form.controls['firstname'].errors}" type="text" formControlName="firstname" >
    
    <div>lastname:{{form.controls['lastname'].value}}</div>
    <input [ngClass]="{'red':form.controls['lastname'].errors}" type="text" formControlName="lastname" >
    
    <div>nickname:{{form.controls['nickname'].value}}</div>
    <input [ngClass]="{'red':form.controls['nickname'].errors}" type="text" formControlName="nickname" >
    
    <div>id:{{form.controls['id'].value}}</div>
    <input [ngClass]="{'red':form.controls['id'].errors}" type="text" formControlName="id" >
    
    <div>telephon number:{{form.controls['tel'].value}}</div>
    <input [ngClass]="{'red':form.controls['tel'].errors}" type="text" formControlName="tel" >
  
  
  
  
  </form>
 </div>
</div>
-->
<nav class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"></a><ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <a class="navbar-brand" href="#page-top"><img src="src\image\Please.png" alt="..."></a>
        <li>
          <a [routerLink]="['/index']" class="nav-link px-2 text-secondary">Home</a>
        </li>
        <li>
          <a routerLink="['catalog']" class="nav-link px-2 text-white">Catalog</a>
        </li>
      </ul>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" [routerLink]="['/login']" >Login</button>
        <button type="button" class="btn btn-warning" [routerLink]="['register']" >Sign-up</button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>