<div >
    <div>
        <div class="header">
            <div class="full-name">
              <span>Name:{{item.fname}} {{item.lname}}</span>
            </div>
            <div class="full-name">
                <span class="email">Nickname: </span>
                <span class="nick-name">{{item.nickname}}</span>
              </div>
            <div class="contact-info">
              <span class="email">ID: </span>
              <span class="email-val">{{item.id}}</span>
              <span class="separator"></span>
            </div>
            <div>
              <span class="phone">Phone: </span>
              <span class="phone-val">{{item.tel}}</span>
            </div>
          </div>
    </div> 
</div>