<body>
  <div class="container">
    <img src="https://kku.world/kpaip" alt="Profile Picture">
    <h1>{{item.fname}} {{item.lname}}</h1>
    <div class="info">
        <table>
            <tr>
                <th>ชื่อเล่น</th>
                <td>{{item.nickname}}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{item.id}}</td>
            </tr>
            <tr>
                <th>เบอร์โทรศัพท์</th>
                <td>{{item.tel}}</td>
            </tr>
        </table>
    </div>
  </div>
</body>