body{

	background-color: #eee;
}
.container{
	width: 900px;
}

.card{

	background-color: #fff;
	border:gray;
	border-radius: 0px;
	width: 100%;
	height: 100%;
	// box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.image-container{

	position: fixed;
    object-fit: cover;
}

.thumbnail-image{
	border-radius: 10px !important;
    object-fit: scale-down;
}








.product-name{
	font-size: 13px;
	font-weight: bold;
	width: 75%;
}


.price{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 13px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
}



.btn{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	padding: 3px;
}



.item-size{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid grey;
	color: grey;
	font-size: 10px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}


.rating-star{
	font-size: 10px !important;
}
.rating-number{
	font-size: 10px;
	color: grey;

}
.buy{
	position: absolute;
	font-size: 12px;
	color: rgb(11, 0, 169);
	font-weight: 500;
	left: 15px;
	bottom: 10px;
}





.card .image-container {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
  }
  
  .card .thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  
  .card .product-detail-container {
    padding: 10px;
  }
  
  .zoom {
	transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }