<div class="container" *ngIf="form">
  <div class="row">
      <div class="col-12">
        <!-- Page title -->
        <div class="my-5">
          <h3>My Profile</h3>
          <div class="text-end">
            <!-- button -->
            <div class="gap-3 d-md-flex justify-content-md-end text-center">
              <!-- <button type="button" class="btn btn-danger btn-lg me-2">Delete profile</button> -->
              <button type="submit" (click)="updateData()" class="btn btn-primary btn-lg">Update profile</button>
            </div></div>
          <hr>
        </div>
        <!-- Form START -->
        <form class="file-upload" [formGroup]="form">
          <div class="row mb-5 gx-5">
            <!-- Contact detail -->
            <div class="col-xxl-8 mb-5 mb-xxl-0">
              <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                  <h4 class="mb-4 mt-0">Contact detail</h4>
                  <!-- First Name -->
                  <div class="col-md-6">
                    <label class="form-label">First Name *</label>
                    <input type="text" class="form-control" placeholder=""  aria-label="First name" [value]="recive.fname" formControlName="fname">
                  </div>
                  <!-- Last name -->
                  <div class="col-md-6">
                    <label class="form-label">Last Name *</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Last name" [value]="recive.lname"  formControlName="lname">
                  </div>
                  <!-- Phone number -->
                  <div class="col-md-6">
                    <label class="form-label">Phone number *</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Phone number" [value]="recive.tel" formControlName="tel">
                  </div>
                  <!-- Email -->
                  <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email *</label>
                    <input type="email" class="form-control" id="inputEmail4" [value]="recive.email" formControlName="email">
                  </div>
                  <!-- Address -->
                  <div class="col-md-6">
                    <label class="form-label">Address </label>
                    <input type="text" class="form-control" placeholder=""  [value]="recive.add" formControlName="add">
                  </div>
                  <!-- Skype -->
                  <!-- <div class="col-md-6">
                    <label class="form-label">Postal code</label>
                    <input type="text" class="form-control" placeholder="" aria-label="Phone number" value="Scaralet D">
                  </div> -->
                </div> <!-- Row END -->
              </div>
            </div>
            <!-- Upload profile -->
            <div class="col-xxl-4">
              <div class="bg-secondary-soft px-4 py-5 rounded">
                <div class="row g-3">
                  <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                  <div class="text-center">
                    <!-- Image upload -->
                    <div class="square position-relative display-2 mb-3">
                      <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                    </div>
                    <!-- Button -->
                    <input type="file" id="customFile" name="file" hidden="">
                    <label class="btn btn-success-soft btn-block me-1" for="customFile">Upload</label>
                    <button type="button" class="btn btn-danger-soft">Remove</button>
                    <!-- Content -->
                    <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size 300px x 300px</p>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- Row END -->
        </form> <!-- Form END -->
      </div>
    </div>
    </div>