.banner {
    //position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  .banner-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .carousel-image {
    width: 1200px; /* Adjust the width as needed */
    height: 240px; /* This will maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the entire container */
  }