header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 15.5rem;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
  header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffc800;
    --bs-btn-border-color: #ffc800;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d9aa00;
    --bs-btn-hover-border-color: #cca000;
    --bs-btn-focus-shadow-rgb: 255, 208, 38;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cca000;
    --bs-btn-active-border-color: #bf9600;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffc800;
    --bs-btn-disabled-border-color: #ffc800;
  }