<div *ngIf="form">
    <form [formGroup]="form">
        <div>Name: {{ form.controls['fname'].value }} {{ form.controls['lname'].value }}</div>
        <input [ngClass]="{'red': form.controls['fname'].errors}" type="text" formControlName="fname">
        <input [ngClass]="{'red': form.controls['lname'].errors}" type="text" formControlName="lname">
        <div>Nickname: {{ form.controls['nickname'].value }}</div>
        <input [ngClass]="{'red': form.controls['nickname'].errors}" type="text" formControlName="nickname">
        <div>ID: {{ form.controls['id'].value }}</div>
        <input [ngClass]="{'red': form.controls['id'].errors}" type="text" formControlName="id">
        <div>Telephone Number: {{ form.controls['tel'].value }}</div>
        <input [ngClass]="{'red': form.controls['tel'].errors}" type="text" formControlName="tel">
        <button type="submit" (click)="sendinfo()">Submit</button>
    </form>
</div>
